@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body{
    height: 100vh;
    color: white;
    font-family: 'Rubik Bubbles', cursive;
    font-size: 62.5%;
}

header{
    text-align: center;
    padding: 1rem;
    font-size: 2.8rem;
    background-image: linear-gradient(135deg, rgb(49, 49, 49)), rgba(16, 16, 17, 1) 79%;
    background-image: linear-gradient(131deg, rgba(0, 0, 0, 1), rgb(42, 41, 41));
}

#container{
    display: flex;
    overflow-x: scroll;
    background-color: white;
    color: black;
    gap: 3rem;
    padding: 2rem;
    max-width: 1200px;
}

.card{
    background-color: rgb(236, 229, 229);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}

.card img{
    border-radius: 1rem;
}

.card div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    font-size: 2rem;
}

footer{
    background-image: linear-gradient(135deg, rgb(49, 49, 49)), rgba(16, 16, 17, 1) 79%;
    background-image: linear-gradient(131deg, rgba(0, 0, 0, 1), rgb(42, 41, 41));
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}



@media screen and (min-width: 768px) {
    #container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1024px) {
    #container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        place-items: center;
        margin: 0 auto;
    }
}